.DS_Store
output/.default
thesis/TEMPLATE/
adm/
.venv/
codebook.toml
*.wav
*.ogg
*.log
*.aux
*.bbl
main.bbl
*.bcf
*.blg
*.fdb_latexmk
*.fls
*.lof
*.lot
*.out
*.run.xml
*.synctex.gz
main.synctex.gz
*.toc
*.synctex(busy)
